*{
    margin: o;
    padding: o;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("..//images/noisy_grid.png");
    height: 100%: 
    color: #777777;
    margin: 0 0 100px;
    padding:0;
    /*background-color: #ececec;*/
    font-size: 16px;
}
.navbar-default .navbar-brand{
	color: #ffffff;
}
a.navbar-brand{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 25px;
	background-color: #4aaaa5;
}
#navigationbar{
	float: right;
}
.wrapper {
    background: #FFF;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px;
    background-clip: padding-box;
    box-shadow: 0 0 3px #999;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    clear:both !important;
    padding: 10px 0px;
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}
.image-thumbnail {
    position:relative;
    width: 250px;
    height: 250px;
 }
.thumbnail .caption{
	text-align: center;
	color: #ffffff;
	padding: 2px;
	padding-top: 10px;
}
.post-content {
    background: #4aaaa5;
    width: 96%;
    height: auto;
    top:180px;
    position: absolute;
}
.submitBtn{
    background-color: #4aaaa5;
    border: none;
    color: white;
    width: 120px;
    height: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}